{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="text-center text-white">Hasta Kayıt Dosyası Oluşturucu</h1>
            <form method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.kayit_no.label }}
                    {{ form.kayit_no(class_='form-control') }}
                </div>
                <div class="form-group">
                    {{ form.tc_no.label }}
                    {{ form.tc_no(class_='form-control') }}
                </div>
                <div class="form-group">
                    {{ form.adi.label }}
                    {{ form.adi(class_='form-control') }}
                </div>
                <div class="form-group">
                    {{ form.soyadi.label }}
                    {{ form.soyadi(class_='form-control') }}
                </div>
                <div class="form-group">
                    {{ form.cinsiyeti.label }}
                    {{ form.cinsiyeti(class_='form-control') }}
                </div>
                <div class="form-group">
                    {{ form.uyrugu.label }}
                    {{ form.uyrugu(class_='form-control') }}
                </div>
                <div class="form-group">
                    {{ form.dogum_tarihi.label }}
                    {{ form.dogum_tarihi(class_='form-control') }}
                </div>
                <div class="form-group">
                    {{ form.dogum_yeri.label }}
                    {{ form.dogum_yeri(class_='form-control') }}
                </div>
                <div class="form-group">
                    {{ form.vesikalik.label }}
                    {{ form.vesikalik(class_='form-control-file') }}
                </div>
                <div class="form-group">
                    {{ form.aktif_hastaliklar.label }}
                    {{ form.aktif_hastaliklar(class_='form-control') }}
                </div>
                <div class="form-group">
                    {{ form.test_no.label }}
                    {{ form.test_no(class_='form-control') }}
                </div>
                <div class="form-group">
                    {{ form.hastaneye_gelis_sebebi.label }}
                    {{ form.hastaneye_gelis_sebebi(class_='form-control') }}
                </div>
                <div class="form-group">
                    {{ form.mudahaleler.label }}
                    {{ form.mudahaleler(class_='form-control') }}
                </div>
                <div class="form-group">
                    {{ form.mudahale_edenler.label }}
                    {{ form.mudahale_edenler(class_='form-control') }}
                </div>
                <div class="form-group">
                    {{ form.triyaj.label }}
                    {{ form.triyaj(class_='form-control') }}
                </div>
                <div class="form-group">
                    {{ form.imza_kase.label }}
                    {{ form.imza_kase(class_='form-control-file') }}
                </div>
                <div class="form-group text-center">
                    {{ form.submit(class_='btn btn-primary btn-lg btn-block') }}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
